<h2>{{ (course$ | async)?.courseName}}</h2>

<hr>
<p>{{ (course$ | async)?.courseDescription}}</p>
<hr>

<h4>Students enrolled:</h4>
<!-- <mat-list *ngFor="let studentCourse of (studentCourses$ | async)"></mat-list> -->
<mat-list *ngFor="let courseStudent of (courseStudents$ | async)">
  <mat-list-item>
    {{courseStudent.student.lastName}}, {{courseStudent.student.firstName}}
  
    <button mat-icon-button (click)="unenroll(courseStudent.course.id, courseStudent.student.id)">
      <mat-icon>delete</mat-icon>
    </button>
    
  </mat-list-item>

</mat-list>

@if (isLoadingCourses$ | async) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<hr>

<button mat-flat-button (click)="goBack()">
  <mat-icon>undo</mat-icon>Go back
</button>