.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-color: azure;
}

mat-card {
    max-width: 400px
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

mat-card-header {
    margin-bottom: 10px;
}

button {
    width: 100%;
}

p {
    color: rgb(252, 243, 232);
    text-align: center;
    margin-top: 20px;
    a {
       text-decoration: none; 
    }
}