.home_container {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
}

.home_text {
    font-size: 50px;
    font-weight: bold;
}