<h2 mat-dialog-title>
    {{ editingCourse ? "Editing course ID: " + editingCourse.id : "New course" }}
  </h2>
  
  <mat-dialog-content>

    <form [formGroup]="courseForm">

      <mat-form-field>
        <mat-label>Course Name</mat-label>
        <input formControlName="courseName" matInput />
        @if (courseNameControl?.hasError('required') &&
        courseNameControl?.touched) {
        <mat-error>Required field</mat-error>
        }
        @if (courseNameControl?.hasError('minlength') &&
        courseNameControl?.touched) {
        <mat-error>Name is too short</mat-error>
        } 
        @if (courseNameControl?.hasError('pattern') &&
        courseNameControl?.touched) {
        <mat-error>Special characters are not allowed</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input formControlName="courseDescription" matInput />
        @if (courseDescriptionControl?.hasError('required') &&
        courseDescriptionControl?.touched) {
        <mat-error>Required field</mat-error>
        }
        @if (courseDescriptionControl?.hasError('minlength') &&
        courseDescriptionControl?.touched) {
        <mat-error>Description is too short</mat-error>
        } 
      </mat-form-field>

    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-dialog-close mat-button>Cancel</button>
    <button (click)="onSubmit()" mat-button>Save</button>
    <!-- Hacer el boton disabled si hay algun error en el formaulario -->
  </mat-dialog-actions>
  